<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <fieldset>
    <legend>Ingredients</legend>
    <%= f.fields_for :ingredients do |ingredient_builder| %>
      <%= ingredient_builder.text_field :name %>
    <% end %>
  </fieldset>
  <%= f.submit %>
<% end %>


<!-- <form action="">
  <p>
    <label for="">Recipe Name</label>
    <input type="text" name="">
  </p>

  <fieldset>
    <legend>Ingredients</legend>
    <label for="">Ingredient 1</label>
    <input type="text" name="recipe[ingredients_attributes][][name]">
    <label for="">Ingredient 2</label>
    <input type="text" name="recipe[ingredients_attributes][][name]">
    <label for="">Ingredient 3</label>
    <input type="text" name="recipe[ingredients_attributes][][name]">
  </fieldset>
  <p>
    <input type="submit">
  </p>
</form> -->
